import os

class Config(object):
    def __getattr__(self,name):
        print("get " + name)
        return os.getenv(name)
    
    DEBUG = False
    TESTING = False
    CSRF_ENABLED = True
    # see flask documentation on secret key
    SECRET_KEY = 'randombytes'
    SQLALCHEMY_TRACK_MODIFICATIONS = False
    
    MAIL_SERVER = "mail.sample.com"
    MAIL_PORT = 465
    MAIL_USE_TLS = False
    MAIL_USE_SSL = True
    MAIL_USERNAME = "username"
    MAIL_PASSWORD = "password"

    SQLALCHEMY_DATABASE_URI = os.getenv('DATABASE_URL')A
    PROXY_URL = None 
    LBCURL = "https://www.leboncoin.fr"
    API_KEY = "d2c84cdd525dddd7cbcc0d0a86609982c2c59e22eb01ee4202245b7b187f49f1546e5f027d48b8d130d9aa918b29e991c029f732f4f8930fc56dbea67c5118ce"


class ProductionConfig(Config):
    DEBUG = False
    SERVER_NAME = "lbcalert.sample.com"
    VERSION = "PROD"

class DevelopmentConfig(Config):
    DEVELOPMENT = True
    DEBUG = True
    SERVER_NAME = "localhost:5000"
    VERSION = "DEV"

class TestingConfig(Config):
    TESTING = True
