alembic==0.8.3
astroid==1.5.3
beautifulsoup4==4.4.1
blinker==1.4
click==6.2
dateparser==0.5.0
Flask==0.10.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==1.6.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
gunicorn==19.4.1
isort==4.2.15
itsdangerous==0.24
jdatetime==1.8.1
Jinja2==2.8
lazy-object-proxy==1.3.1
Mako==1.0.3
MarkupSafe==0.23
mccabe==0.6.1
psycopg2==2.7.4
pylint==1.7.4
PySocks==1.5.7
python-dateutil==2.5.3
python-editor==0.5
pytz==2015.7
redis==2.10.5
regex==2016.9.22
requests==2.10.0
rq==0.5.6
ruamel.yaml==0.12.14
six==1.10.0
SQLAlchemy==1.0.9
typing==3.5.2.2
tzlocal==1.2
umalqurra==0.2
Werkzeug==0.11.2
wrapt==1.10.11
