<form action="{{ url_for('add_search') }}" method=post class="add-search">
Titre<br>
<input type=text size=30 name=title {% if title %}value="{{title}}"{%endif%}>
<br>
Mots cĺés<br>
<input type=text size=50 name=terms {% if terms %}value="{{terms}}"{%endif%}>
<br>
Prix min<br>
<input type=text size=5 name=minprice {% if minprice %}value="{{minprice}}"{%endif%}>
<br>
Prix max<br>
<input type=text size=5 name=maxprice {% if maxprice %}value="{{maxprice}}"{%endif%}>
<br>
Vendeur<br>
<select name="type">
       <option {% if vendor == "all"%} selected="selected"{% endif %} value=all>Pro et Particulers</option>
       <option {% if vendor == "private"%} selected="selected"{% endif %} value=private>Particuliers</option> 
       <option {% if vendor == "pro"%} selected="selected"{% endif %} value=pro>Professionels</option>
</select><br>
Code post. (ex "63000,63830")<br>
<input type=text size=50 name=zipcode {% if zipcode %}value="{{zipcode}}"{%endif%}>
<br>
Catégorie
<br>
<select name="category">
    <option label=" "></option>
    {% for cat in categories%}
    <option value={{cat["id"]}} {% if (cat["id"] | int) == category%} selected="selected"{% endif %}>{{cat["name"]}}</option>
   	{% for subcategory in cat["subcategories"] %}
		<option value={{subcategory["id"]}} {% if (subcategory["id"] | int) == category%} selected="selected"{% endif %}>- {{subcategory["name"]}}</option>
	{% endfor%}	
    {% endfor %}
</select>
<br>
Paramètres URL supplémentaires (expert)<br>
<input type=text size=30 name=extras {% if extras %}value="{{extras}}"{%endif%}>
<br>
<input type="hidden" name="search_id" value="{{search_id}}">
<input type=submit value=Confirm>
</form>
