{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('add_search') }}" method=post class=add-search>
      <dl>
        <dt>Title: <input type=text size=30 name=title>
        <dt>Text: <input type=text size=50 name=terms>
        <dd><input type=submit value=Add>
      </dl>
    </form>
  <p class=entries>
  {% for search in searches %}
    <a href="/analyse?id={{ search.id }}">{{ search.title }}</a> - <a href="http://leboncoin.fr/{{ search.terms }}" target="blank">{{ search.terms }}</a> - <a href="/remove?id={{ search.id }}">remove</a><br>
  {% else %}
    <em>Unbelievable.  No searches here so far</em>
  {% endfor %}
  </p>
{% endblock %}