{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('add_search') }}" method=post class=add-search>
      <dl>
        <dt>Title: <input type=text size=30 name=title>
        <dt>Text: <input type=text size=50 name=terms>
        <dt>Email: <input type=text size=50 name=email>
        <dd><input type=submit value=Add>
      </dl>
    </form>
  <p class=entries>
  {% for search in searches %}
    <br><a href="{{ url_for('show_lbcentries') }}?id={{ search.s.id }}">{{ search.s.title }}</a> - <em>{{ search.s.terms }}</em>
    <br> Send e-mail to : {{ search.s.email }}
    <br><a href="{{ url_for('analyse_lbc') }}?id={{ search.s.id }}">Execute</a> - <a href="/remove?id={{ search.s.id }}">remove</a><br>
    Nb_entries : {{ search.nbentries }}{% if search.nbnew>0%}, NEW : {{ search.nbnew }}{% endif %} <br>
  {% else %}
    <em>No searches here so far</em>
  {% endfor %}
  </p>
{% endblock %}